div.nav-wrapper
  div.container-nav
    figure
      a(href="index.html")
        img(src="images/logomenu.svg", alt="W3D Design")  
    ul
      li
        a.scroll(href="#who") Nosotros
      li
        a.scroll(href="#portfolio") Portfolio
      li
        a.scroll(href="#process") Proceso
      li
        a.scroll(href="#contact") Contacto
