div.responsive-wrapper
  .article-wrapper
    article
      h2 Diseño Responsivo
      p Nuestros productos 
        span se adaptan a cualquier dispositivo
        |: hoy en día la forma en la que navegamos ha cambiado, por eso en W3D ponemos especial énfasis en hacer posible que tus productos puedan verse en cualquier circunstancia
      a.button(href="#") CONTACTO
      
    figure
      img(src="images/responsive/responsivefront.svg", alt="")
