div.contact-wrapper
  div.contact-info
    img(src="images/socket/logosocket.svg", alt="")
    h2 CONTRÁTANOS
    p ¿Tienes alguna pregunta o propuesta que hacernos?
    p No dudes en hacerlo, ¡ Tu próximo proyecto no puede esperar más!
    
  div.contact-social
    ul
      li
        a(href="#")
          img(src="images/socket/twitter.svg", alt="")
      li
        a(href="#")
          img(src="images/socket/facebook.svg", alt="")
      li
        a(href="#")
          img(src="images/socket/linkedin.svg", alt="")
      li
        a(href="#")
          img(src="images/socket/mail.svg", alt="")
          
  div.contact-nav
    ul
      li
        a.scroll(href="#who") Nosotros
      li
        a.scroll(href="#portfolio") Portfolio
      li
        a.scroll(href="#process") Proceso
      li
        a.scroll(href="#contact") Contacto
